[submodule "SharpEA"]
	path = SharpEA
	url = https://github.com/ricardojoserf/Sharpea
[submodule "GuardPagesHooking"]
	path = GuardPagesHooking
	url = https://github.com/ricardojoserf/GuardPagesHooking
[submodule "Non-ms-binaries"]
	path = Non-ms-binaries
	url = https://github.com/ricardojoserf/non-ms-binaries
[submodule "SharpADS"]
	path = SharpADS
	url = https://github.com/ricardojoserf/SharpADS
[submodule "StealthyEnv"]
	path = StealthyEnv
	url = https://github.com/ricardojoserf/StealthyEnv
[submodule "WhoamiAlternatives"]
	path = WhoamiAlternatives
	url = https://github.com/ricardojoserf/WhoamiAlternatives
[submodule "GetProcessByName"]
	path = GetProcessByName
	url = https://github.com/ricardojoserf/GetProcessByName
[submodule "SharpCovertTube"]
	path = SharpCovertTube
	url = https://github.com/ricardojoserf/SharpCovertTube
[submodule "SharpSelfDelete"]
	path = SharpSelfDelete
	url = https://github.com/ricardojoserf/SharpSelfDelete
[submodule "lsass-dumper-csharp"]
	path = lsass-dumper-csharp
	url = https://github.com/ricardojoserf/lsass-dumper-csharp
[submodule "SharpNtdllOverwrite"]
	path = SharpNtdllOverwrite
	url = https://github.com/ricardojoserf/SharpNtdllOverwrite
[submodule "GetModuleHandle"]
	path = GetModuleHandle
	url = https://github.com/ricardojoserf/GetModuleHandle
[submodule "GetProcAddress"]
	path = GetProcAddress
	url = https://github.com/ricardojoserf/GetProcAddress
[submodule "Jeringuilla"]
	path = Jeringuilla
	url = https://github.com/ricardojoserf/Jeringuilla
