[submodule "SharpEA"]
	path = SharpEA
	url = https://github.com/ricardojoserf/Sharpea
[submodule "GetProcAddress"]
	path = GetProcAddress
	url = https://github.com/ricardojoserf/GetProcAddress
[submodule "GetModuleHandle"]
	path = GetModuleHandle
	url = https://github.com/ricardojoserf/GetModuleHandle
[submodule "jeringuilla"]
	path = jeringuilla
	url = https://github.com/ricardojoserf/jeringuilla
[submodule "GuardPagesHooking"]
	path = GuardPagesHooking
	url = https://github.com/ricardojoserf/GuardPagesHooking
[submodule "Non-ms-binaries"]
	path = Non-ms-binaries
	url = https://github.com/ricardojoserf/non-ms-binaries
[submodule "SharpADS"]
	path = SharpADS
	url = https://github.com/ricardojoserf/SharpADS
[submodule "StealthyEnv"]
	path = StealthyEnv
	url = https://github.com/ricardojoserf/StealthyEnv
