[submodule "SharpEA"]
	path = SharpEA
	url = https://github.com/ricardojoserf/Sharpea
[submodule "GuardPagesHooking"]
	path = GuardPagesHooking
	url = https://github.com/ricardojoserf/GuardPagesHooking
[submodule "Non-ms-binaries"]
	path = Non-ms-binaries
	url = https://github.com/ricardojoserf/non-ms-binaries
[submodule "SharpADS"]
	path = SharpADS
	url = https://github.com/ricardojoserf/SharpADS
[submodule "GetProcessByName"]
	path = GetProcessByName
	url = https://github.com/ricardojoserf/GetProcessByName
[submodule "SharpSelfDelete"]
	path = SharpSelfDelete
	url = https://github.com/ricardojoserf/SharpSelfDelete
[submodule "SharpNtdllOverwrite"]
	path = SharpNtdllOverwrite
	url = https://github.com/ricardojoserf/SharpNtdllOverwrite
[submodule "GetModuleHandle"]
	path = GetModuleHandle
	url = https://github.com/ricardojoserf/GetModuleHandle
[submodule "GetProcAddress"]
	path = GetProcAddress
	url = https://github.com/ricardojoserf/GetProcAddress
[submodule "Jeringuilla"]
	path = Jeringuilla
	url = https://github.com/ricardojoserf/Jeringuilla
[submodule "WhoamiAlternatives"]
	path = WhoamiAlternatives
	url = https://github.com/ricardojoserf/WhoamiAlternatives
[submodule "StealthyEnv"]
	path = StealthyEnv
	url = https://github.com/ricardojoserf/StealthyEnv
[submodule "SharpProcessDump"]
	path = SharpProcessDump
	url = https://github.com/ricardojoserf/SharpProcessDump
[submodule "Lsass-dumper-csharp"]
	path = Lsass-dumper-csharp
	url = https://github.com/ricardojoserf/Lsass-dumper-csharp
[submodule "SharpCovertTube"]
	path = SharpCovertTube
	url = https://github.com/ricardojoserf/SharpCovertTube
[submodule "SharpObfuscate"]
	path = SharpObfuscate
	url = https://github.com/ricardojoserf/SharpObfuscate
[submodule "p-invoke.net"]
	path = p-invoke.net
	url = https://github.com/ricardojoserf/p-invoke.net
[submodule "MinidumpParser"]
	path = MinidumpParser
	url = https://github.com/ricardojoserf/MinidumpParser
[submodule "P-invoke.net"]
	path = P-invoke.net
	url = https://github.com/ricardojoserf/P-invoke.net
